In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
df= pd.read_csv("/home/achilles/Downloads/Reviews.csv")
df.head(2)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...

In [43]:
df.shape

(568454, 12)

In [44]:
df['%helpfulness']=np.where(df['HelpfulnessNumerator']>0,df['HelpfulnessNumerator']/df['HelpfulnessDenominator'],-1)
df['%helpfulness'].shape

(568454,)

In [45]:
df2=df[df['Score']!=3]

In [46]:
x=df2['Text']

In [47]:
y_dict= {1:0,2:0,4:1,5:1}
y=df2['Score'].map(y_dict)

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
c=CountVectorizer(stop_words="english")
x_c= c.fit_transform(x)

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test=train_test_split(x_c,y)

In [50]:
from sklearn.linear_model import LogisticRegression
log= LogisticRegression()
ml=log.fit(X_train,y_train)
ml.score(X_test,y_test)

/home/achilles/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9359547826616155

In [52]:
w=c.get_feature_names()

In [54]:
coef=ml.coef_.tolist()[0]

In [57]:
coef_df=pd.DataFrame({'word':w,'coefficient':coef})

In [58]:
coef_df

          word  coefficient
0           00    -0.367448
1          000    -0.144173
2         0000     0.544517
3       000001    -0.008364
4        00001     0.001794
...        ...          ...
114964  çaykur     0.000938
114965   çelem     0.000000
114966    être     0.000000
114967     île     0.000000
114968      ît     0.000444

[114969 rows x 2 columns]